# ************************************
# Managed by Puppet module profile
# ************************************

<VirtualHost *:443>
  ServerName <%= @web_ui_hostname %>

  ##   SSL Engine Switch:
  ##   Enable/Disable SSL for this virtual host.
  SSLEngine on

  ##   SSL Protocol support:
  ## List the enable protocol levels with which clients will be able to
  ## connect.  Disable SSLv2 access by default:
  SSLProtocol All -SSLv2 -SSLv3

  ##   SSL Cipher Suite:
  ## List the ciphers that the client is permitted to negotiate.
  ## See the mod_ssl documentation for a complete list.
  SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL

  ##   Server Certificate:
  ## Point SSLCertificateFile at a PEM encoded certificate.  If
  ## the certificate is encrypted, then you will be prompted for a
  ## pass phrase.  Note that a kill -HUP will prompt again.  A new
  ## certificate can be generated using the genkey(1) command.
  SSLCertificateFile <%= @web_ui_ssl_cert_file %>

  ##   Server Private Key:
  ##   If the key is not combined with the certificate, use this
  ##   directive to point at the key file.  Keep in mind that if
  ##   you've both a RSA and a DSA private key you can configure
  ##   both in parallel (to also allow the use of DSA ciphers, etc.)
<% if @web_ui_ssl_key_file and !@web_ui_ssl_key_file.empty?  -%>
  SSLCertificateKeyFile <%= @web_ui_ssl_key_file %>
<% end -%>

  ##   Server Certificate Chain:
  ##   Point SSLCertificateChainFile at a file containing the
  ##   concatenation of PEM encoded CA certificates which form the
  ##   certificate chain for the server certificate. Alternatively
  ##   the referenced file can be the same as SSLCertificateFile
  ##   when the CA certificates are directly appended to the server
  ##   certificate for convinience.
<% if @web_ui_ssl_chain_file and !@web_ui_ssl_chain_file.empty?  -%>
  SSLCertificateChainFile <%= @web_ui_ssl_chain_file %>
<% end -%>

  ##   Certificate Authority (CA):
  ##   Set the CA certificate verification path where to find CA
  ##   certificates for client authentication or alternatively one
  ##   huge file containing all of them (file must be PEM encoded)
<% if @web_ui_ssl_ca_file and !@web_ui_ssl_ca_file.empty?  -%>
  SSLCACertificateFile <%= @web_ui_ssl_ca_file %>
<% end -%>

  SSLVerifyClient off

  ##   Client Authentication (Type):
  ##   Client certificate verification type and depth.  Types are
  ##   none, optional, require and optional_no_ca.  Depth is a
  ##   number which specifies how deeply to verify the certificate
  ##   issuer chain before deciding the certificate is not valid.
  SSLVerifyDepth  10

  BrowserMatch ".*MSIE.*" \
      nokeepalive ssl-unclean-shutdown \
      downgrade-1.0 force-response-1.0

  ## Vhost docroot
  DocumentRoot "/usr/share/icingaweb2/public"

  <Directory "/usr/share/icingaweb2/public">
    Options SymLinksIfOwnerMatch
    AllowOverride None

    <IfModule mod_authz_core.c>
        # Apache 2.4
        <RequireAll>
            Require all granted
        </RequireAll>
    </IfModule>

    <IfModule !mod_authz_core.c>
        # Apache 2.2
        Order allow,deny
        Allow from all
    </IfModule>

    SetEnv ICINGAWEB_CONFIGDIR "/etc/icingaweb2"

    EnableSendfile Off

    <IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteBase /
        RewriteCond %{REQUEST_FILENAME} -s [OR]
        RewriteCond %{REQUEST_FILENAME} -l [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^.*$ - [NC,L]
        RewriteRule ^.*$ index.php [NC,L]
    </IfModule>

    <IfModule !mod_rewrite.c>
        DirectoryIndex error_norewrite.html
        ErrorDocument 404 /error_norewrite.html
    </IfModule>
  </Directory>

  ## Logging
  ErrorLog "/var/log/httpd/<%= @web_ui_hostname %>_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/monitoring.<%= @web_ui_hostname %>_access.log" combined 
</VirtualHost>

