#!/usr/bin/env bash

# This file is managed by Puppet.

# This script will check in the r10k basedir whether the remote control repo has updates.
# If updates are found, this script will have r10k fetch updates and then issue a command
# to the puppetserver to refresh the active environment.
#
# Passing argument '-f' will cause r10k to fetch updates and refresh puppet environment regardless
# of state of control repo.

# This script assumes CentOS/RHEL.

R10K_BASEDIR="<%= @r10k_basedir %>"
SHARED_DIR="<%= @shared_dir %>"
ENVIRONMENT="<%= @puppet_environment %>"
PUPPETSERVER_SERVICE="<%= @puppetserver_service %>"
CWD=`pwd`

# Capture argument
ARG=""
[ "$1" ] && ARG="$1"

if [ -d "${R10K_BASEDIR}/${ENVIRONMENT}" ]; then
    cd ${R10K_BASEDIR}/${ENVIRONMENT}
    GIT_STATE=$(git fetch --all --dry-run 2>&1 | grep "\->")
    echo "$GIT_STATE" > "${SHARED_DIR}/r10k_remote_poll_git_state"
    if [ -f "${SHARED_DIR}/r10k_remote_poll_git_state_old" ]; then
	GIT_STATE_DIFF=$(diff "${SHARED_DIR}/r10k_remote_poll_git_state" "${SHARED_DIR}/r10k_remote_poll_git_state_old")
	if [ "${GIT_STATE_DIFF}" ] || [ "${ARG}" == '-f' ]; then
	    echo "Doing r10k deploy and telling puppetserver (if available) to refresh environment."
	    r10k deploy environment ${ENVIRONMENT} -pv info
	    if [ $? -eq 0 ]; then
		if [ "${PUPPETSERVER_SERVICE}" ]; then
		    /usr/local/bin/refresh_puppet_environment.sh
		fi
		cp "${SHARED_DIR}/r10k_remote_poll_git_state" "${SHARED_DIR}/r10k_remote_poll_git_state_old"
	    else
		# If error in r10k deploy, don't update git state
		echo "Error doing r10k deploy, not refreshing puppet environment."
	    fi
	fi
    else
	echo "First run, saving git state and doing nothing else."
	cp "${SHARED_DIR}/r10k_remote_poll_git_state" "${SHARED_DIR}/r10k_remote_poll_git_state_old"
    fi

    # Return to whence we came
    cd $CWD
else
    echo "Can't find path ${R10K_BASEDIR}/${ENVIRONMENT}."
fi
