#!/usr/bin/env bash

# This file is managed by Puppet.

# This script will expire the cache for the Puppetserver's active environment.  This will cause
# Puppetserver to reload the environment (i.e. all its code).
#
# This script requires that a rule has been added to <%= @puppetserver_dir %>/conf.d/auth.conf
# permitting API access.

# This script assumes CentOS/RHEL.

ENVIRONMENT="<%= @puppet_environment %>"
curl --cert <%= @puppet_hostcert %> \
    --key <%= @puppet_hostprivkey %> \
    --cacert <%= @puppet_localcacert %> \
    -X DELETE \
    "https://<%= @fqdn %>:8140/puppet-admin-api/v1/environment-cache?environment=${ENVIRONMENT}"
